body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #034710, #04260b);
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 1px;
}

canvas {
  border-radius: 0px;
  background-color: #ffffff;
}

p {
  font-size: 14px;
}

footer {
  font-size: 10px;
  align-content: left;
  text-align: left;
}

.site-header {
  text-align: center;
  font-size: 36px;
}

.main-screen {
  align-items: center;
}